.main-menu { display: flex; }

.main-menu > div {
    margin: 10px;
}

main {
    display: flex;    
}

.left {
    width: auto;
    flex: 1;
}

.right {
    flex: 2;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    margin-right: 20px;
}

.open-sans-300 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
